body{
	background-color: grey;
	margin: 0;
	padding: 0;
}


#telaFimJogo{
	width: 100%;
	height: 100%;
	opacity: 0.95;
	position: absolute;
	color: white;
	display: none;
	background-color: black;
	padding-top: 50px;
}


h2{
	text-align: center;
}

.container{
	margin: 0 auto;
	max-width: 240px;
	padding: 30px;
	border-radius: 10px;
	background-color: dodgerblue;
	border: 4px solid black;
}

.tabuleiro{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.campo{
	width: 75px;
	height: 65px;
	font-size: 30pt;
	margin: 4px 2px;
	font-weight: 300;
	padding-top: 10px;
	border-radius: 3px;
	text-align: center;
	background-color: #d3d3d3;
}